#VSCODE
server/obj
server/bin

#CMAKE BUILD
build

#ASSETS
client/assets

#LATEX
*.aux
*.idx
*.pdf
*.toc
*.dvi
*.log
*.gz
*.bak

#PYTHON BINARIES
*.pyc

#account_manager
account_manager/.venv
account_manager/.idea
account_manager/db.sqlite3
